{% extends "base.html" %}

{% block page_heading %}Home{% endblock %}
{% block content %}
{% for loan in loans %}
<div class="card w-100 shadow-sm">
  <div class="card-header">
    <div class="col card-title d-flex flex-row">
    	<p>&#x20B9;</p>
    	<h5>{{ loan.amount }}</h5>
    	<p>&#64;</p>
    	<h5>{{ loan.interest_rate }}&percnt;</h5>
    	<p>for</p>
    	<h5>{{ loan.tenure }}</h5>
    	<p>months</p>
    </div>
    <div class="col text-center">
    	<p class="m-0">id: {{ loan.loan_id }}</p>
    </div>
    <div class="col text-end">
		{% block extra_header_actions %}
    	<a class="button accept" href="{% url 'core:accept_loan' %}?id={{ loan.loan_id }}">Accept</a>
    	<a class="button reject" href="{% url 'core:reject_loan' loan.loan_id %}">Reject</a>
    {% endblock %}
    {% block default_header_action %}
    	<a class="button" href="
    	{% block header_action %}
    	{% url 'core:modify_loan' %}?id={{ loan.loan_id }}
    	{% endblock %}
    	">{% block header_action_text %}Modify{% endblock %}</a>
    {% endblock %}
    </div>
  </div>
  <div class="card-body row">
  	<div class="col-sm-2 d-flex justify-content-center">
	  	<img  style="height: 100%; width: 100%; object-fit: contain" src="{{ loan.borrowing_user.profile.photo.url }}">
	</div>
	<div class="col-sm-10 align-self-center">
		<div class="d-flex">
			<div class="id-label">Username</div>
			<input disabled="true" class="form-control" value="{{ loan.borrowing_user.username }}">
		</div>
		<div class="d-flex">
			<div class="id-label">Name</div>
			<input disabled="true" class="form-control" value="{{ loan.borrowing_user.profile.first_name }}{% if loan.borrowing_user.profile.middle_name %} {{ loan.borrowing_user.profile.middle_name }}{% endif %} {{ loan.borrowing_user.profile.last_name }}">
		</div>
		{% block third_field %}
		<div class="d-flex">
			<div class="id-label">CIBIL score</div>
			<input disabled="true" class="form-control" value="{% if loan.borrowing_user.profile.cibil_score %}{{ loan.borrowing_user.profile.cibil_score }}{% else %}{{ loan.borrowing_user.username }} cibil{% endif %}">
		</div>
		{% endblock %}
		<div class="d-flex">
			<div class="id-label">Applied on</div>
			<input disabled="true" class="form-control" value="{{ loan.date_applied }}">
		</div>
	</div>
  </div>
</div>
{% empty %}
{% block empty_message %}
<div class="empty-mssg">
	<p>Nothing here</p>
</div>
{% endblock %}
{% endfor %}
{% block pagination %}
<div class="mt-3">
	{% if loans.has_previous %}
	<a class="btn-link" href="{% block prev_page_url %}{% url 'core:home_page' loans.previous_page_number %}{% endblock %}">Previous Page</a>
	{% endif %}
	{% if loans.has_next %}
	<a class="btn-link" href="{% block next_page_url %}{% url 'core:home_page' loans.next_page_number %}{% endblock %}">Next Page</a>
	{% endif %}
</div>
{% endblock %}
{% endblock content %}