{% extends 'account/base.html' %}
{% load crispy_forms_tags %}
{% block title %}C2CLoans &#8212; {{ user.username }}'s profile{% endblock %}
{% block page_heading %}My Profile{% endblock %}
{% block extra_container_class %} profile-container {% endblock %}
{% block content %}
<form class="row" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="col-md-12">
    {% block form %}
      {% crispy u_form %}
      {% crispy p_form %}
    {% endblock %}
  </div>
  <div class="col-md-12 text-center">
    <button id="update-form" class="primaryAction" type="submit">Save</button>
  </div>
</form>
{% endblock %}
